{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}</title>

      {% if messages %}
            {% for message in messages %}
                     {% if message.tags == 'error' %}
                         <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                     {% else %}
                         <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                         </div>
                     {% endif %}

            {% endfor %}

        {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css " href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <aside>
        <span class="navbar-text">
            {% if request.user.is_authenticated %}
                Welcome, {{ user.username }} | <a href="{% url 'logout' %}" style="color: red">Logout</a>
            {% else %}
                <a href="{% url 'register'%}"  style=" color:white ">Register</a> | <a href="{% url 'login' %} "style="color: white">Login</a>
            {% endif %}

        </span>

        <img src="{% static 'main/img/fitness-and-gym-logo_7888-29.jpg' %}">
        <span class="logo"></span>
        <h3> Навигация</h3>
        <ul>
            <a href="{% url 'home' %}"><li> <i class="fas fa-home"></i>Home Page</li></a>
            <a href="{% url 'workouts_home'%}"><li> <i class="fas fa-dumbbell"></i>Workouts</li></a>
            <a href="{% url 'news_home' %}"><li> <i class="far fa-newspaper"></i>News</li></a>
            <a href="{% url 'gallery' %}"><li> <i class="fas fa-images"></i>Gallery</li></a>
            <a href=""><li> <i class="fas fa-id-card-alt"></i>Contacts</li></a>
        </ul>
    </aside>
    <main>

        {% block content %}

        {% endblock %}
    </main>

</body>
</html>